/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Happy+Monkey&family=Orbitron:wght@400;800&family=Quicksand&family=Roboto&family=Seaweed+Script&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #cecaca;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Chelsea Market', Arial, sans-serif;
}

body {
    padding: 0 3rem;
    background-image: url(https://mcdn.wallpapersafari.com/medium/62/34/64cbXQ.jpg);
    background-color: #98C1D9;
    color: #3D5A80;
    font-weight: bold;
    
}
button{
    background-color: #293241;
    color: #EE6C4D;
    font-weight: bold;
}
button:hover{
  background-color:#EE6C4D;
  color:  #293241;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chelsea Market', Arial, sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px #EE6C4D;
  text-align: center;
}

p {
  margin-bottom: 1.5em;
}

.title--main {
  margin-block-end: 0;
}
img{
  width: auto;
  height: 5em;
}
.main--header{
  display: flex;
  justify-content: center;
}
.main--header--image{
  position: relative;
  top: 1em;
}
.main--header--image:hover{
  animation: shake 1.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.cool--s{
  position: fixed;
  bottom: 2%;
  right: 2%;
  height: 1em;
  width: auto;
}
.cool--s:hover{
  animation: shake 0.25s;
  animation-iteration-count: infinite;
  height: 50em;
  width: auto;
}