.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    text-align: center;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    font-size: large;
}

.navbar__logout {
    margin-left: auto;
}
.navbar__link{
    margin-right: 2em;
}